<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">

      <h2>liste des abonnés de {{loginUser}}   </h2>

      <div  *ngFor="let follower of  listFollowers"> 

          <div class="form-group">
              <label for="usr">Nom d'abonné :</label>
              <input type="text" class="form-control" id="usr" disabled  value="{{follower.login}}">
              
          </div> <br />
            



          <div class="form-group">
            <img [src]=follower.avatar_url>
          </div>

            <br />










 <p>-------------------------------------------------------------------------------------------------------------</p>

      </div>

















  
</div>
</div>
</div>
