<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-4">

        <div class="card-container">
            <div class="card1">

                <img [src]="userImage">
            </div>
            
            <div class="card2">

            <span  class="titreBalise">Nom :<span class="valeurBalise"> {{ name}} </span>   </span > <br />
            <span  class="titreBalise">ID :<span class="valeurBalise"> {{ id}} </span>   </span > <br />
            <span  class="titreBalise">Location :<span class="valeurBalise"> {{ location}} </span>   </span > <br />
            <span  class="titreBalise">entreprise :<span class="valeurBalise"> {{ company}} </span>   </span > <br />
            <span  class="titreBalise">Biographie :<span class="valeurBalise"> {{ biog}} </span>   </span > <br />
            <span  class="titreBalise">Date de création :<span class="valeurBalise"> {{created_at}} </span>   </span > <br />
            <span  class="titreBalise">Date de modification :<span class="valeurBalise"> {{updated_at}} </span>   </span > <br />
            <span  class="titreBalise"> admirateurs :<span class="valeurBalise"> {{nbFollowers}} </span>   </span > <br />
  
          </div>
         
          </div>


     
</div>
</div>
</div>
  
  