<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-4">

        <a [routerLink]="['/repositorie', loginUser ]">Retour au liste des répositories </a>
        
            
        <div class="card-container">
            <div class="card">

            <span  class="titreBalise">Nombre de commits :<span class="valeurBalise"> {{ nombreCommit}} </span>   </span > <br />
             <span  class="titreBalise">Nombre de Pull request :<span class="valeurBalise"> {{ nombrePullrequest}} </span>   </span > <br />
            <span  class="titreBalise">Nombre de problèmes :<span class="valeurBalise"> {{ nombreIssues}} </span>   </span > <br />
            
          </div>  
        
        </div>
         
          


     
</div>
</div>
</div>
  
  