
.container  {
    margin-top: 5%;
   background-color:whitesmoke;
   height:1000px;
   margin-bottom: 15%;
   
}

  
  .card {
    width: 400px; /* adjust this as needed */
    height: 400px; /* adjust this as needed */
    background-color:lightslategray;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
  }




  

  .valeurBalise{

    font-weight: normal;
    ;
  }

  .titreBalise{
    font-weight: bold;
    padding-left: 5%;
    padding-top: 2%;
    margin-top: 2%;
  }